<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <link rel="icon" href="__IMG__/activity/logo_2.png">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>北极燕鸥项目</title>
    <link href="__CSS__/bootstrap.css" rel="stylesheet">
    <link href="__CSS__/fingerpost/index.css" rel="stylesheet">
    <link rel="stylesheet" href="__CSS__/nav.css">
    <link rel="stylesheet" href="__CSS__/footer.css">
    <link rel="stylesheet" href="__CSS__/common.css">
</head>
<body onload="load()">
<div class="container col-md-12 ">
    <div id="header">
        <!--导航-->
     {include file="../../common/nav"}
    </div>
    <!--轮播图-->
        <div class="sss container">
    <div class="carousel col-md-11  col-xs-11">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                <!--<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>-->
                <!--<li data-target="#carousel-example-generic" data-slide-to="1"></li>-->
                <!--<li data-target="#carousel-example-generic" data-slide-to="2"></li>-->
                <!--<li data-target="#carousel-example-generic" data-slide-to="3"></li>-->
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="__IMG__/fingerpost/31.jpg" alt="">
                </div>
                <div class="item">
                    <img src="__IMG__/fingerpost/38.jpg" alt="">
                </div>
                <div class="item">
                    <img src="__IMG__/fingerpost/37.jpg" alt="">
                </div>
                <div class="item">
                    <img src="__IMG__/fingerpost/35.jpg" alt="">
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <span class="hot">热门目的地推荐：</span>
    </div>
    <!--文字滚动-->
    <div class="scrolling col-md-9 col-md-offset-2 col-xs-9 col-xs-offset-2" id="demo">
        <div class="qimo">
            <div id="demo1">
                <ul>
                {volist name="testArr" id="des" offset="0" length='17'}
                    <li><a href='#' >{$des.fp_scrolling}</a></li>
                {/volist} 
                </ul>
            </div>
            <div id="demo2"></div>

        </div>
    </div>
    <!--指南模块-->
    <div class="guide col-xs-12">
        <div class="foot col-md-2 col-xs-2">
            <a href="#run"> <img  src="__IMG__/fingerpost/23.jpg" alt=""/></a>
            <div id="runing"><span>徒步</span></div>
        </div>
        <div class="diving col-md-2 col-xs-2">
            <a href="#swim"> <img src="__IMG__/fingerpost/24.jpg" alt=""/></a>
            <div id="swiming"><span>潜水</span></div>
        </div>
        <div class="cycling col-md-2 col-xs-2">
            <a href="#ride"> <img src="__IMG__/fingerpost/25.jpg" alt=""/></a>
            <div id="riding"><span>骑行</span></div>
        </div>
        <div class="other col-md-2 col-xs-2">
            <a href="#else"> <img src="__IMG__/fingerpost/26.jpg" alt=""/></a>
            <div id="other_else"><span>其他</span></div>
        </div>
    </div>
    <!--徒步模块-->
    <div class="content  col-xs-12" id="run">
        <div class="first">
            <img src="__IMG__/fingerpost/11.png" alt=""/>
            <span>徒步</span>
<!--             <div class="first_more" id="more">更多>></div> -->
        </div>
            {volist name="testArr" id="des" offset="0" length='1'}
            <div class="first_box1 col-md-2 col-xs-2">
            <img src="__IMG__/fingerpost/{$des.fp_img}" alt="">
            <div class="mask-inner" onclick="window.open('details.html')">
                <p>{$des.fp_name}</p>
                <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                <span class="text">点击预览</span>
            </div>
            </div>
            {/volist} 
        {volist name="testArr" id="des" offset="1" length='1'}
        <div class="first_box2 col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1">
            <img src="__IMG__/fingerpost/{$des.fp_img}" alt="">
            <div class="mask-inner" onclick="window.open('details.html')">
                <p>{$des.fp_name}</p>
                <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                <span class="text">点击预览</span>
        </div>
        </div>
        {/volist}

        {volist name="testArr" id="des" offset="2" length='1'}
        <div class="first_box3 col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1">
            <img src="__IMG__/fingerpost/{$des.fp_img}" alt="">
            <div class="mask-inner" onclick="window.open('details.html')">
                <p>{$des.fp_name}</p>
                <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                <span class="text">点击预览</span>
            </div>
        </div>
        {/volist}

        {volist name="testArr" id="des" offset="3" length='1'}
        <div class="first_box4 col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1">
            <img src="__IMG__/fingerpost/{$des.fp_img}" alt="">
            <div class="mask-inner" onclick="window.open('details.html')">
                <p>{$des.fp_name}</p>
                <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                <span class="text">点击预览</span>
            </div>
        </div>
        {/volist}
    </div>
        {volist name="testArr" id="des" offset="0" length='1'}
    <div class="foot_link col-md-12 col-xs-12">
        <div class="foot_link1 col-md-2 col-xs-2"><a href="">{$des.fp_name}</a></div>
        {/volist}

        {volist name="testArr" id="des" offset="1" length='1'}
        <div class="foot_link2 col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1"><a href="">{$des.fp_name}</a></div>
        {/volist}

        {volist name="testArr" id="des" offset="2" length='1'}
        <div id="nbyz" class="foot_link3 col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1"><a href="">{$des.fp_name}</a></div>
        {/volist}

        {volist name="testArr" id="des" offset="3" length='1'}
        <div id="amnq" class="foot_link4 col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1"><a href="">{$des.fp_name}</a></div>
        {/volist}
    </div>
    <!--徒步更多模块-->
   <!--  <div class="two col-md-12 col-xs-12">
        <div class="first_box1 col-md-2 col-xs-2">
            <img src="__IMG__/fingerpost/6.jpg" alt="">
            <div class="mask-inner" onclick="window.open('details.html')">
                <p>梅里外转 · 徒步指南</p>
                <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                <span class="text">点击预览</span>
            </div>
        </div>
        <div class="first_box3 col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1">
            <img src="__IMG__/fingerpost/8.jpg" alt="">
            <div class="mask-inner" onclick="window.open('details.html')">
                <p>年保玉则 · 徒步指南</p>
                <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                <span class="text">点击预览</span>
            </div>
        </div>
        <div class="first_box3 col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1">
            <img src="__IMG__/fingerpost/8.jpg" alt="">
            <div class="mask-inner" onclick="window.open('details.html')">
                <p>年保玉则 · 徒步指南</p>
                <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                <span class="text">点击预览</span>
            </div>
        </div>
        <div class="first_box3 col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1">
            <img src="__IMG__/fingerpost/8.jpg" alt="">
            <div class="mask-inner" onclick="window.open('details.html')">
                <p>年保玉则 · 徒步指南</p>
                <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                <span class="text">点击预览</span>
            </div>
        </div>
        <div class="foot_links col-md-12 col-xs-12">
        <div class="foot_links1 col-md-2 col-xs-2"><div id="swim_maer"><a href="">梅里外转 · 徒步指南</a></div></div>
        <div class="foot_links2 col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1"><div id="swim_maer"><a href="">梅里内转 · 徒步指南</a></div></div>
        <div class="foot_links3 col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1"><div id="swim_maer"><a href="">新加坡 · 徒步指南</a></div></div>
        <div class="foot_links4 col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1"><div id="swim_maer"><a href="">虎跳峡 · 徒步指南</a></div></div>
        <div id="hide">收回>></div>
        </div>
    </div>
 -->
    <!--潜水模块-->
    <div class="content2 col-md-12 col-xs-12" id="swim">
        <div class="first">
            <img src="__IMG__/fingerpost/44.png" alt=""/>
            <span><font color="#187be0">潜水</font></span>
<!--             <div class="first_more" id="more2">更多>></div> -->
        </div>
        {volist name="testArr" id="des" offset="4" length='1'}
        <div class="first_box1 col-md-2 col-xs-2">
            <img src="__IMG__/fingerpost/{$des.fp_img}" alt="">
            <div class="mask-inner" onclick="window.open('details.html')">
                <p>{$des.fp_name}</p>
                <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                <span class="text">点击预览</span>
            </div>
        </div>
        {/volist}

        {volist name="testArr" id="des" offset="5" length='1'}
        <div class="first_box2 col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1">
            <img src="__IMG__/fingerpost/{$des.fp_img}" alt="">
            <div class="mask-inner" onclick="window.open('details.html')">
                <p>{$des.fp_name}</p>
                <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                <span class="text">点击预览</span>
            </div>
        </div>
        {/volist}

        {volist name="testArr" id="des" offset="6" length='1'}
        <div class="first_box3 col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1">
            <img src="__IMG__/fingerpost/{$des.fp_img}" alt="">
            <div class="mask-inner" onclick="window.open('details.html')">
                <p>{$des.fp_name}</p>
                <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                <span class="text">点击预览</span>
            </div>
        </div>
        {/volist}

        {volist name="testArr" id="des" offset="7" length='1'}
        <div class="first_box4 col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1">
            <img src="__IMG__/fingerpost/{$des.fp_img}" alt="">
            <div class="mask-inner" onclick="window.open('details.html')">
                <p>{$des.fp_name}</p>
                <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                <span class="text">点击预览</span>
            </div>
        </div>
    </div>
        {/volist}

        {volist name="testArr" id="des" offset="4" length='1'}
     <div class="foot_link col-md-12 col-xs-12">
        <div class="foot_link1 col-md-2 col-xs-2"><a href="">{$des.fp_name}</a></div>
        {/volist}

        {volist name="testArr" id="des" offset="5" length='1'}
        <div class="foot_link2 col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1"><a href="">{$des.fp_name}</a></div>
        {/volist}

        {volist name="testArr" id="des" offset="6" length='1'}
        <div class="foot_link3 col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1"><a href="">{$des.fp_name}</a></div>
        {/volist}

        {volist name="testArr" id="des" offset="7" length='1'}
        <div id="anl" class="foot_link4 col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1"><a href="">{$des.fp_name}</a></div>
        {/volist}
    </div>
    <!--潜水更多模块-->
<!--      <div class="three col-md-12 col-xs-12">
        <div class="first_box1 col-md-2 col-xs-2">
            <img src="__IMG__/fingerpost/6.jpg" alt="">
            <div class="mask-inner" onclick="window.open('details.html')">
                <p>梅里外转 · 徒步指南</p>
                <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                <span class="text">点击预览</span>
            </div>
        </div>
        <div class="first_box3 col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1">
            <img src="__IMG__/fingerpost/8.jpg" alt="">
            <div class="mask-inner" onclick="window.open('details.html')">
                <p>年保玉则 · 徒步指南</p>
                <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                <span class="text">点击预览</span>
            </div>
        </div>
        <div class="first_box3 col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1">
            <img src="__IMG__/fingerpost/8.jpg" alt="">
            <div class="mask-inner" onclick="window.open('details.html')">
                <p>年保玉则 · 徒步指南</p>
                <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                <span class="text">点击预览</span>
            </div>
        </div>
        <div class="first_box3 col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1">
            <img src="__IMG__/fingerpost/8.jpg" alt="">
            <div class="mask-inner" onclick="window.open('details.html')">
                <p>年保玉则 · 徒步指南</p>
                <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                <span class="text">点击预览</span>
            </div>
        </div>
        <div class="foot_links col-md-12 col-xs-12">
        <div class="foot_links1 col-md-2 col-xs-2"><div id="swim_maer"><a href="">梅里外转 · 徒步指南</a></div></div>
        <div class="foot_links2 col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1"><div id="swim_maer"><a href="">梅里内转 · 徒步指南</a></div></div>
        <div class="foot_links3 col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1"><div id="swim_maer"><a href="">新加坡 · 徒步指南</a></div></div>
        <div class="foot_links4 col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1"><div id="swim_maer"><a href="">虎跳峡 · 徒步指南</a></div></div>
        </div> -->
<!--         <a href="javascript:void(0)" id="hide">收回>></a> -->

<!--     </div> -->
    <!--骑行模块-->
    <div class="content3 col-md-12 col-xs-12" id="ride">
        <div class="first">
            <img src="__IMG__/fingerpost/22.png" alt=""/>
            <span><font color="#36b601">骑行</font></span>
<!--             <div class="first_more" id="more3">更多>></div> -->
        </div>
        {volist name="testArr" id="des" offset="8" length='1'}
        <div class="first_box1 col-md-2 col-xs-2">
            <img src="__IMG__/fingerpost/{$des.fp_img}" alt="">
            <div class="mask-inner" onclick="window.open('details.html')">
                <p>{$des.fp_name}</p>
                <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                <span class="text">点击预览</span>
            </div>
        </div>
        {/volist}

        {volist name="testArr" id="des" offset="9" length='1'}
        <div class="first_box2 col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1">
            <img src="__IMG__/fingerpost/{$des.fp_img}" alt="">
            <div class="mask-inner" onclick="window.open('details.html')">
                <p>{$des.fp_name}</p>
                <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                <span class="text">点击预览</span>
            </div>
        </div>
        {/volist}

        {volist name="testArr" id="des" offset="10" length='1'}
        <div class="first_box3 col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1">
            <img src="__IMG__/fingerpost/{$des.fp_img}" alt="">
            <div class="mask-inner" onclick="window.open('details.html')">
                <p>{$des.fp_name}</p>
                <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                <span class="text">点击预览</span>
            </div>
        </div>
        {/volist}

        {volist name="testArr" id="des" offset="11" length='1'}
        <div class="first_box4 col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1">
            <img src="__IMG__/fingerpost/{$des.fp_img}" alt="">
            <div class="mask-inner" onclick="window.open('details.html')">
                <p>{$des.fp_name}</p>
                <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                <span class="text">点击预览</span>
            </div>
        </div>
        {/volist}
    </div>
    <div class="foot_link col-md-12 col-xs-12">
        {volist name="testArr" id="des" offset="8" length='1'}
        <div class="foot_link1 col-md-2 col-xs-2"><a href="">{$des.fp_name}</a></div>
        {/volist}

        {volist name="testArr" id="des" offset="9" length='1'}
        <div class="foot_link2 col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1"><a href="">{$des.fp_name}</a></div>
        {/volist}

        {volist name="testArr" id="des" offset="10" length='1'}
        <div class="foot_link3 col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1"><a href="">{$des.fp_name}</a></div>
        {/volist}

        {volist name="testArr" id="des" offset="11" length='1'}
        <div id="qhh" class="foot_link4 col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1"><a href="">{$des.fp_name}</a></div>
    </div>
    {/volist}
    <!--骑行更多模块-->
       <!--   <div class="fore col-md-12 col-xs-12">
        <div class="first_box1 col-md-2 col-xs-2">
            <img src="__IMG__/fingerpost/6.jpg" alt="">
            <div class="mask-inner" onclick="window.open('details.html')">
                <p>梅里外转 · 徒步指南</p>
                <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                <span class="text">点击预览</span>
            </div>
        </div>
        <div class="first_box3 col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1">
            <img src="__IMG__/fingerpost/8.jpg" alt="">
            <div class="mask-inner" onclick="window.open('details.html')">
                <p>年保玉则 · 徒步指南</p>
                <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                <span class="text">点击预览</span>
            </div>
        </div>
        <div class="first_box3 col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1">
            <img src="__IMG__/fingerpost/8.jpg" alt="">
            <div class="mask-inner" onclick="window.open('details.html')">
                <p>年保玉则 · 徒步指南</p>
                <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                <span class="text">点击预览</span>
            </div>
        </div>
        <div class="first_box3 col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1">
            <img src="__IMG__/fingerpost/8.jpg" alt="">
            <div class="mask-inner" onclick="window.open('details.html')">
                <p>年保玉则 · 徒步指南</p>
                <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                <span class="text">点击预览</span>
            </div>
        </div>
        <div class="foot_links col-md-12 col-xs-12">
        <div class="foot_links1 col-md-2 col-xs-2"><div id="swim_maer"><a href="">梅里外转 · 徒步指南</a></div></div>
        <div class="foot_links2 col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1"><div id="swim_maer"><a href="">梅里内转 · 徒步指南</a></div></div>
        <div class="foot_links3 col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1"><div id="swim_maer"><a href="">新加坡 · 徒步指南</a></div></div>
        <div class="foot_links4 col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1"><div id="swim_maer"><a href="">虎跳峡 · 徒步指南</a></div></div>
        </div> -->
<!--         <a href="javascript:void(0)" id="hide">收回>></a> -->

<!--     </div> -->
    <!--其他模块-->
    <div class="content4 col-md-12 col-xs-12" id="else">
        <div class="first">
            <img src="__IMG__/fingerpost/33.png" alt=""/>
            <span><font color="#f78900">其他</font></span>
<!--             <div class="first_more" id="more4">更多>></div> -->
        </div>
        <div class="first_box1 col-md-2 col-xs-2">
        {volist name="testArr" id="des" offset="12" length='1'}
            <img src="__IMG__/fingerpost/{$des.fp_img}" alt="">
            <div class="mask-inner" onclick="window.open('details.html')">
                <p>{$des.fp_name}</p>
                <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                <span class="text">点击预览</span>
            </div>
        </div>
        {/volist}

        {volist name="testArr" id="des" offset="13" length='1'}
        <div class="first_box2 col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1">
            <img src="__IMG__/fingerpost/{$des.fp_img}" alt="">
            <div class="mask-inner" onclick="window.open('details.html')">
                <p>{$des.fp_name}</p>
                <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                <span class="text">点击预览</span>
            </div>
        </div>
        {/volist}

        {volist name="testArr" id="des" offset="14" length='1'}
        <div class="first_box3 col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1">
            <img src="__IMG__/fingerpost/{$des.fp_img}" alt="">
            <div class="mask-inner" onclick="window.open('details.html')">
                <p>{$des.fp_name}</p>
                <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                <span class="text">点击预览</span>
            </div>
        </div>
        {/volist}

        {volist name="testArr" id="des" offset="15" length='1'}
        <div class="first_box4 col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1">
            <img src="__IMG__/fingerpost/{$des.fp_img}" alt="">
            <div class="mask-inner" onclick="window.open('details.html')">
                <p>{$des.fp_name}</p>
                <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                <span class="text">点击预览</span>
            </div>
        </div>
    </div>
        {/volist}
    <div class="foot_link col-md-12 col-xs-12">
        {volist name="testArr" id="des" offset="12" length='1'}
        <div class="foot_link1 col-md-2 col-xs-2"><a href="">{$des.fp_name}</a></div>
        {/volist}

        {volist name="testArr" id="des" offset="13" length='1'}
        <div class="foot_link2 col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1"><a href="">{$des.fp_name}</a></div>
        {/volist}

        {volist name="testArr" id="des" offset="14" length='1'}
        <div class="foot_link3 col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1"><a href="">{$des.fp_name}</a></div>
        {/volist}

        {volist name="testArr" id="des" offset="15" length='1'}
        <div id="qx" class="foot_link4 col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1"><a href="">{$des.fp_name}</a></div>
        {/volist}
    </div>
    <!--其他更多模块-->
        <!-- <div class="five col-md-12 col-xs-12">
        <div class="first_box1 col-md-2 col-xs-2">
            <img src="__IMG__/fingerpost/6.jpg" alt="">
            <div class="mask-inner" onclick="window.open('details.html')">
                <p>梅里外转 · 徒步指南</p>
                <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                <span class="text">点击预览</span>
            </div>
        </div>
        <div class="first_box3 col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1">
            <img src="__IMG__/fingerpost/8.jpg" alt="">
            <div class="mask-inner" onclick="window.open('details.html')">
                <p>年保玉则 · 徒步指南</p>
                <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                <span class="text">点击预览</span>
            </div>
        </div>
        <div class="first_box3 col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1">
            <img src="__IMG__/fingerpost/8.jpg" alt="">
            <div class="mask-inner" onclick="window.open('details.html')">
                <p>年保玉则 · 徒步指南</p>
                <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                <span class="text">点击预览</span>
            </div>
        </div>
        <div class="first_box3 col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1">
            <img src="__IMG__/fingerpost/8.jpg" alt="">
            <div class="mask-inner" onclick="window.open('details.html')">
                <p>年保玉则 · 徒步指南</p>
                <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                <span class="text">点击预览</span>
            </div>
        </div>
        <div class="foot_links col-md-12 col-xs-12">
        <div class="foot_links1 col-md-2 col-xs-2"><div id="swim_maer"><a href="">梅里外转 · 徒步指南</a></div></div>
        <div class="foot_links2 col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1"><div id="swim_maer"><a href="">梅里内转 · 徒步指南</a></div></div>
        <div class="foot_links3 col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1"><div id="swim_maer"><a href="">新加坡 · 徒步指南</a></div></div>
        <div class="foot_links4 col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1"><div id="swim_maer"><a href="">虎跳峡 · 徒步指南</a></div></div>
        </div> -->
<!--         <a href="javascript:void(0)" id="hide">收回>></a> -->

<!--     </div> -->
    </div>
</div>
    <!--底部-->
{include file="../../common/footer"}
<!--返回顶部-->
<div id="share">
    <a id="totop" title="">返回顶部</a>
    <a href="#" target="_blank" class="sina">关注找魔酷阁新浪微博</a>
    <a href="#"  target="_blank" class="tencent">关注找魔酷阁腾讯微博</a>
</div>
<!--loading加载动画-->
<!-- <div id="loading">
    <div id="loading-center">
        <div id="loading-center-absolute">
            <div class="object" id="object_one"></div>
            <div class="object" id="object_two"></div>
            <div class="object" id="object_three"></div>
            <div class="object" id="object_four"></div>
            <div class="object" id="object_five"></div>
            <div class="object" id="object_six"></div>
            <div class="object" id="object_seven"></div>
            <div class="object" id="object_eight"></div>
            <div class="object" id="object_nine"></div>
        </div>
    </div>
</div> -->
<script src="__JS__/jquery-1.12.4.js"></script>
<script src="__JS__/bootstrap.js"></script>
<script src="__JS__/fingerpost/index.js"></script>
</body>
</html>