<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>北极燕鸥</title>
    <link rel="icon" href="__IMG__/activity/logo_2.png">
    <link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/activity/apply.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/activity/laydate.css"/>
    <link rel="stylesheet" href="__CSS__/nav.css">
    <link rel="stylesheet" href="__CSS__/footer.css">
    <link rel="stylesheet" href="__CSS__/common.css">
</head>

<body>
<!--整体内容-->
<div class="warpper">
    <!--导航-->
    <!--头部开始-->
    {include file="../../common/nav"}
    </div>
    <!--标题-->
    <div class="text">
        <a href="{:url('index/index/index')}">首页</a>
        <span> ></span>
        <span> 用户详情</span>
    </div>
    <!--结束-->
    <!--内容-->
    <div class="row content">
        <!--第一块-->
        <div class="one">
            <div class="wenzi">
                <p>&lt;团体定制 蜈支洲-森林公园-天涯海角-大小洞天 5日游&gt;公司、家庭及朋友定制出游，一单一团，连住四晚海景，纯玩0购物，方案可调</p>
                <div class="left">
                    <span class="glyphicon glyphicon-hand-right"></span>
                    <i>编号1003：</i>
                    <small>本产品由北极燕鸥国际旅行社有限公司石家庄分公司及具有资质的合作旅行社提供相关服务</small>
                </div>
                <div class="right">
                    <span>国内旅游预定须知</span>
                    <span>|</span>
                    <span>网上预订须知</span>
                </div>
            </div>
            <!--小二块开始-->
            <div class="two">
                <!--小轮播图-->
                <div class="col-md-5 col-xs-5 col-sm-5 branch_bar">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="__IMG__/activity/1.jpg" alt="...">
                            </div>
                            <div class="item">
                                <img src="__IMG__/activity/2.JPG" alt="...">
                            </div>
                            <div class="item">
                                <img src="__IMG__/activity/3.jpg" alt="...">

                            </div>
                            <div class="item">
                                <img src="__IMG__/activity/4.jpg" alt="...">

                            </div>
                        </div>
                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" role="button"
                           data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button"
                           data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <div class="product">
                        <h4>
                            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                            <a>产品经理推荐</a>
                        </h4>

                        <p class="text_one">
                            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                            <i>100%纯玩，0购物店，避开所有景中购，不打擦边球，充足时间游玩！</i>
                        </p>

                        <p class="text_two">
                            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                            <i>优选海景房连住不挪窝，推窗看海的大视野体验，更有升级酒店不同房型可供选择，各具特色！</i>
                        </p>

                        <p class="text_three">
                            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                            <i>24小时接机，晚航班、早航班，通通不用再烦恼了。</i>
                        </p>

                        <p class="text_four">
                            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                            <i>每团赠送乳胶枕一个。</i>
                        </p>
                    </div>
                </div>
                <!--小轮播图结束-->
                <div class="col-md-7 col-xs-7 col-sm-7 reservation">
                    <div class="col-sm-12 col-md-12 col-xs-12 r">
                        <strong>团体定制</strong>
                        <span>一单一团/资深定制师/专属客服/一站式服务</span>
                    </div>
                    <div class="col-sm-12 col-md-12 col-xs-12 group">
                        <div class=" col-sm-4 col-md-4 col-xs-4 price">
                            <span>心动价：</span>
                            <span class="vary">&yen;</span>
                            <span class="money">2590</span>
                            <span>起</span>
                        </div>
                        <div class="col-sm-7 col-md-7 col-xs-7 CSR">
                            <div class="shang" style="height: 30px;">
                                <span class="ok">满意度</span>
                                <span class="Tour">
                                        出游人数:1003
                                    </span>
                            </div>
                            <div class="xia" style="height: 40px;">
                                <span class="Npc" >97% </span>
                                <span class="Comment" >点评人数：666</span>
                                 
                            </div>
									<!-- <span class="ok">满意度</span>
									<span class="Tour">
										出游人数:1003
								    </span>
									<br>
									<span class="Npc" >97% &nbsp&nbsp&nbsp&nbsp
									<span class="Comment" >点评人数：666</span>
                                </span> -->
									
                        </div>
                    </div>
                    <!--表格-->
                    <div class="col-sm-10 col-md-10 col-xs-10 frame">
                        <form class="form-horizontal" action="">
                            <div class="form-group">
                                <label for="inputCity3" class="col-sm-2 control-label">出发城市</label>

                                <div class="col-sm-3 col-md-3 col-xs-3">
                                    <select class="form-control">
                                        <option>石家庄</option>
                                        <option>成都</option>
                                        <option>桂林</option>
                                        <option>上海</option>
                                        <option>深圳</option>
                                        <option>台湾</option>
                                        <option>香港</option>
                                        <option>重庆</option>
                                        <option>洛杉矶</option>
                                        <option>青岛</option>
                                        <option>哈尔滨</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 clo-md-2 col-xs-2  control-label">出游日期</label>

                                <div class="col-sm-4 col-md-5 col-xs-4">
                                   <!-- <div class="input-append date">
                                    <input type="text" class="span2">
                                    <span class="add-on"><i class="icon-th"></i></span>
                                </div> -->
                                <div class="input-group date">
                                    <input type="text" id="laydateInput" placeholder="xxxx年xx月xx日" />
                                    <img src="__IMG__/activity/calendar.png" alt="" class="icon data-icon"/>
                                    <div class="select-date">
                                        <div class="select-date-header">
                                            <ul class="heade-ul">
                                                <li class="header-item header-item-one">
                                                    <select name="" id="yearList"></select>
                                                </li>
                                                <li class="header-item header-item-two" onselectstart="return false">
                                                    <select name="" id="monthList"></select>
                                                </li>
                                                <li class="header-item header-item-three" onselectstart="return false" >
                                                    <span class="reback">回到今天</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="select-date-body">
                                            <ul class="week-list">
                                                <li>日</li><li>一</li><li>二</li><li>三</li><li>四</li><li>五</li><li>六</li>
                                            </ul>
                                            <ul class="day-tabel"></ul>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 clo-md-2 col-xs-2 control-label">出游人数</label>
                                <!--整一行-->
                                <div class=" push">
                                    <!--左边-->
                                    <div class="Minus">
                                        <div class="sign">
                                            <button type="button" id="btn_submit" class="glyphicon glyphicon-minus"
                                                    onclick="show()">
                                            </button>
                                            <div class="textbox">
                                                <input type="text" id="num" value="1">
                                            </div>
                                            <button type="button" id="btn_submit1" class="glyphicon glyphicon-plus"
                                                    onclick="btnAction()">
                                            </button>

                                        </div>
                                        <div class="Adult">
                                            <span>成人</span>
                                        </div>
                                    </div>
                                    <!--右边-->
                                    <div class="child">
                                        <div class="Plus">
                                            <button type="button" id="btn_submit2" class="glyphicon glyphicon-minus"
                                                    onclick="show1()"></button>
                                            <div class="textbox">
                                                <input type="text" value="1" id="num1">
                                            </div>
                                            <button type="button" id="btn_submit3" class="glyphicon glyphicon-plus"
                                                    onclick="btnAction1()">
                                            </button>
                                        </div>
                                        <div class="Child">
                                            <span>儿童</span>
                                        </div>
                                    </div>
                                </div>
                                <!--结束-->
                            </div>
                            <div class="form-group1">
                                <div class="col-sm-offset-2 col-sm-10 col-md-6">
                                    <button type="submit" class="btn btn-default btn-sm active">立即预定
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--结束-->
            </div>
            <!--小二块结束-->
        </div>
        <!--第一块结束-->
        <!--第二块开始-->
        <div class="feature">
            <!--导航栏开始-->
            <div class="box">
                <ul id="myTab" class="nav nav-tabs">
                    <li class="tab01">
                        <a href="#home" data-toggle="tab">
                            产品特色</a>
                    </li>
                    <li>
                        <a href="#ios" data-toggle="tab">费用说明</a>
                    </li>
                    <li>
                        <a href="#jmeter" data-toggle="tab">预订须知</a>
                    </li>
                    <li>
                        <a href="#dc" data-toggle="tab">相关产品</a>
                    </li>
                </ul>
            </div>
            <div id="myTabContent" class="tab-content">
                <!-- 产品特色 -->
                <div class="tab-pane fade in tab01 active" id="home">
                    <!-- 左边 -->
                    <div class="icon1">
                        <strong>产品<br>特色</strong>
                        <img src="__IMG__/activity/09.png" height="90px" width="90px" alt=""/>
                    </div>
                    <!--右边-->
                    <div class="ico">
                        <div class="outline"><p>行程概要</p></div>
                        <div class="day"><p>行程：5天4夜</p></div>
                        <div class="characteristic"><p>产品特色</p></div>
                        <div class="picture">
                            <img src="__IMG__/activity/1.png" width="80%" height="650px"/>
                        </div>
                        <div class="star">
                            <h5>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <b>产品四大特色</b>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </h5>

                            <p class="xin xin_one">
                                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                <i>合理行程：只安排三亚高知名度和人气热门的5大黄金景点，每天不超过2个景点，充足时间游玩、凹造型，随心玩，享自由。</i>
                            </p>

                            <p class="xin xin_two">
                                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                <i>指定用餐:全程指定餐厅用餐，严格把控餐饮质量，让你安心享用每一餐，尽情品尝特色美食，让味蕾行走在路上，舌尖上的海南。</i>
                            </p>

                            <p class="xin xin_three">
                                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                <i>100%0购物：承诺不去景点内购物店：南山尼泊尔馆、天堂公园的茶叶店、天涯海角的水晶、百姓厨房的美丽汇、大树公馆的美丽商城等。</i>
                            </p>

                            <p class="xin xin_four">
                                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                <i>升值服务：优秀导游接团、如遇团友生日，免费提供生日蛋糕一个、免费矿泉水、每团赠送乳胶枕一个。</i>
                            </p>

                            <div class=" picture_one">
                                <img src="__IMG__/activity/630.jpg" height="500px" />
                            </div>
                            <div class="wz">
                                <div class=" picture_two">
                                    <img src="__IMG__/activity/3.jpg" height="309px" width="100%" />
                                </div>
                                <div class=" picture_three">
                                    <img src="__IMG__/activity/2.JPG" height="309px" width="100%" />
                                </div>
                            </div>
                            <div class="picture_four">
                                <img src="__IMG__/activity/bali.jpg" height="500px" />
                            </div>
                        </div>
                    </div>
                    <!--结束-->
                </div>
                <!-- 费用说明 -->
                <div class="tab-pane fade" id="ios">
                    <!-- 左边 -->
                    <div class="Expenses">
                        <strong>费用<br>说明</strong>
                        <img src="__IMG__/activity/09.png" height="90px" width="90px" alt=""/>
                    </div>
                    <!-- 左边结束 -->
                    <!-- 右边 -->
                    <div class="charges">
                        <div class="outline"><p>费用包含</p></div>
                        <div class="include">
                            <ul>
                                <li><strong>交      通：</strong><b>含税费团队/散客机票往返（团队机票将统一出票，散客机票因实时计价预定后即刻出票）；当地旅游巴士</b>
                                </li>
                                <li><strong>签      证：</strong><b> 免签证。</b></li>
                                <li><strong>住      宿：</strong><b> 酒店标准2人间。</b></li>
                                <li><strong>用      餐： </strong><b>行程中团队标准用餐，（中式餐或自助餐或特色餐，含飞机上用餐，自由活动期间用餐请自理；如因自身原因放弃用餐，则餐费不退）。</b>
                                </li>
                                <li><strong>门      票： </strong><b>行程中所含的景点首道大门票，具体请参考行程描述。</b></li>
                                <li><strong>导      服： </strong><b>当地中文导游，竭诚为您服务。</b></li>
                                <li><strong>儿童价标准： </strong><b>年龄2~12周岁（不含），不占床,不含SPA，其他服务同成人。</b></li>
                                <li><strong>其      他： </strong><b>已包含离境税150元/人</b></li>
                            </ul>
                        </div>
                        <div class="characteristic"><p>费用不包含</p>
                        </div>
                        <div class="exclusive">
                            <ul>
                                <li><strong>单  房  差：</strong> <b>单房差（详见团期报价）。</b></li>
                                <li><strong>门      票：</strong> <b>行程中注明需要另行支付的自费景点（需自理）。</b></li>
                                <li><strong>补      充：</strong> <b>出入境个人物品海关征税，超重行李的托运费、保管费。；因交通延阻、战争、政变、罢工、天气、飞机机器故障、航班取消或更改时间等不可抗力原因所引致的额外费用。；酒店内洗衣、理发、电话、传真、收费电视、饮品、烟酒等个人消费。；当地参加的自费以及以上“费用包含”中不包含的其它项目。</b>
                                </li>
                                <li><strong>旅游意外险：</strong> <b>旅游人身意外保险</b></li>
                            </ul>
                        </div>
                    </div>
                    <!-- 右边结束 -->
                </div>
                <!-- 费用结束 -->
                <!-- 预订须知 -->
                <div class="tab-pane fade" id="jmeter">
                    <!-- 左边 -->
                    <div class="Expenses">
                        <strong>预订<br>须知</strong>
                        <img src="__IMG__/activity/09.png" height="90px" width="90px" alt=""/>
                    </div>
                    <!-- 左边结束 -->
                    <!-- 右边 -->
                    <div class="Notes">
                        <div class="outline"><p>预定须知</p></div>
                        <div class="Orderly">
                            <ol>
                                <li>自助游产品均为即时计价，请以我方最终确认价格为准。</li>
                                <li>若预订的机票是团队机票，存在航班调整的可能（包括航空公司、起飞时间的变化），故最终航班情况以出票时的具体信息为准。</li>
                                <li>大床房等附加要求，预订时我方尽量申请，请您在入住时再次向前台提及。</li>
                                <li>持大陆护照者，我司可代办签证，或需自备有效证件及目的地签证出行。</li>
                                <li>为了不耽误您的行程，请您在国际航班起飞前120分钟到达机场办理登机以及出入境相关手续；如涉及海外国内段行程，请您在航班起飞前60分钟到达机场办理登机手续。
                                </li>
                                <li>请在出行前记录下出团通知书上的紧急联系人电话，以便应对突发情况。</li>
                                <li>若您持港澳台护照，请务必在出行时携带有效的回乡证原件，以确保您能正常出入境。若您持外籍护照，请务必有有效的回国签证，以确保您能正常再次入境。</li>
                                <li>
                                    可代为申请酒店蜜月赠送，需提供6个月以内的结婚证复印件，并在您上岛时提供结婚证原件供酒店确认，由于蜜月为酒店赠送项目，不保证最终申请结果以及具体赠送内容，请以办理入住时酒店确认为准。
                                </li>
                                <li>
                                    为保证服务质量，您的网络订单或电话咨询订单都将被视作您在途牛旅游网本出游方向的唯一订单，将有一位专属客服为您服务。订单一经生成，如您或出游人对出游日期、酒店或航班等有其他变更需求，都可以随时拨打4007999999联系您的专属客服，在已生成的订单上进行变更，不必再次下单。
                                </li>
                                <li>如您从苏州、无锡出发，我司可为您代订往返上海机场的接送大巴，详情点击：苏州、无锡接送服务信息</li>
                            </ol>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <b>本产品预订生效后，您出发前30日（按出发日减去解除合同通知到达日的自然日之差计算）以上取消，一般不收取损失费用（若您所预订的产品在目的地停留的日期部分或全部处在元旦、
                                春节、五一劳动节、国庆节、圣诞节或其它地方性重大节日期间，鉴于资源的特殊状况，如您取消此已签约订单，需向途牛支付该订单全部费用总额100％的业务损失费。）；
                                出发前30日（含第30日，下同）内取消，需向途牛支付业务损失费，具体如下：出发前30至21日取消，收取费用总额的10％；出发前20至15日取消，收取费用总额的30％；
                                出发前14至7日取消，收取费用总额的80％；出发前6日至4日取消，收取费用总额的95％，出发前3天以内取消，收取费用总额的100%。</b>
                            <h4>特殊人群限制</h4>
                            <h5>.病患者、孕妇及行动不便者</h5>

                            <p>1.为了确保旅游顺利出行，防止旅途中发生人身意外伤害事故，
                                请旅游者在出行前做一次必要的身体检查，如存在下列情况，因服务能力所限无法接待</p>
                            <ol type="a" start=1>
                                <li>传染性疾病患者，如传染性肝炎、活动期肺结核、伤寒等传染病人；</li>
                                <li>心血管疾病患者，如严重高血压、心功能不全、心肌缺氧、心肌梗塞等病人；</li>
                                <li>脑血管疾病患者，如脑栓塞、脑出血、脑肿瘤等病人；</li>
                                <li>呼吸系统疾病患者，如肺气肿、肺心病等病人；</li>
                                <li>精神病患者，如癫痫及各种精神病人；</li>
                                <li>严重贫血病患者，如血红蛋白量水平在50克/升以下的病人；</li>
                                <li>大中型手术的恢复期病患者；</li>
                                <li>孕妇及行动不便者。</li>
                            </ol>
                            <h5>.老年人</h5>
                            <ol>
                                <li> 70周岁以上老年人预订出游，须与我司签订《健康证明》并有家属或朋友（因服务能力所限无法接待及限制接待的人除外）陪同方可出游。</li>
                                <li>因服务能力所限，无法接待81周岁以上的旅游者报名出游，敬请谅解。</li>
                                <li>因服务能力所限，不受理65周岁（含65周岁）以上老年人预订云南跟团产品。</li>
                                <li>因服务能力所限，不受理70周岁（含70周岁）以上老年人预订四川跟团产品。</li>
                            </ol>
                            <h5>.未成年人</h5>
                            <ol>
                                <li>未满18周岁的旅游者请由家属（因服务能力所限无法接待及限制接待的人除外）陪同参团。</li>
                                <li>因服务能力所限，无法接待18周岁以下旅游者单独报名出游，敬请谅解。</li>
                            </ol>
                            <h5>.外籍友人</h5>

                            <p>本产品网上报价适用持有大陆居民身份证的游客。如您持有其他国家或地区的护照，请在预订过程中注明。</p>
                        </div>
                    </div>
                    <!-- 右边结束 -->
                </div>
                <!-- 须知结束 -->
                <!-- <div class="tab-pane fade" id="dc">
                </div> -->
            </div>
            <!--结束-->
        </div>
        <!--第二块结束-->
        <!--内容结束-->
    </div>
    <!--底部-->
{include file="../../common/footer"}
    <!--底部结束-->
</div>
<script src="__JS__/jquery-1.12.4.js"></script>
<script src="__JS__/bootstrap.js"></script>
<script src="__JS__/activity/apply.js"></script>
<script src="__JS__/activity/laydate.js"></script>
<script>
    function getSelectDate(result){
        //这里获取选择的日期
        console.log(result);
    }
</script>

</body>

</html>